{% extends "fr/layout.html.twig" %}

{% block title %}
	{{ parent() }} - Chercher une voiture
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/css/searchAdvert.css" />
{% endblock %}

{% block scripts %}
<script src="/js/initMap.js" type = 'text/javascript'></script>
<script src='/js/map_module.js' type = 'text/javascript'></script>

<script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA3SpcBhMGT9yd8XOB1Mj1g9Y04kVq-U_k&callback=initMap'></script>
{% endblock %}

{% block flashes %}
	{% for message in app.flashes('asearch') %}
		<p class = 'flash_message'>{{ message|trans({}, 'flashes') }}</p>
	{% endfor %}
{% endblock %}

{% block content %}
	<fieldset>
		<legend><h2>Chercher une voiture :</h2></legend>
		<p><strong>Conseil</strong> : Laissez vide si cela vous importe peu.<br />
		Les dates de début et de fin de location sont <strong>requises</strong></p>
		{{ form(form) }}
	</fieldset>

	{% if app.request.method == "POST" %}
	<div id='results'>
		<div id='results_adverts'>
		<fieldset>
			<legend><h2>{{ 'adverts.result_plurals'|transchoice(count, [], 'searchAdvert') }}</h2></legend>
		
			{% include 'fr/adverts/adverts.html.twig' with{'adverts': listAdverts } %}	
		</fieldset>
		</div>

		<div id = 'map_canva'>
			<h6>Chargement de la carte...</h6>
		</div>
	</div>
	{% endif %}
{% endblock %}
