{% extends "en/layout.html.twig" %}

{% block title %}
	{{ parent() }} - Search a car
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
	#map_canva {
		height: 600px;
		width: 50%;
	}

	#results_adverts {
		width: 50%;
		height: 600px;
		overflow: scroll;
	}

	#results {
		padding-top: 30px;
		display :flex;
	}
</style>
{% endblock %}

{% block scripts %}
<script type = 'text/javascript'>
	function initMap() {
		geocoder = new google.maps.Geocoder();

		var location = {lat: 48.859, lng: 2.346};
		map = new google.maps.Map(document.getElementById('map_canva'), {
			zoom: 5,
			center: location
		});
	}
</script>

<script type='text/javascript'>
	function putMarker(address) {
		geocoder.geocode({
			'address': address
			}, function(results, status) {
			if (status == 'OK') {
				var marker = new google.maps.Marker({
					map: map,
					position: results[0].geometry.location
				});
			} else {
				alert('Geocode failed because ' + status);
			}
		});
	}
</script>

<script>
	{% if count %}
	function putMarkers() {
		{% for advert in listAdverts %}
			putMarker("{{advert.location.town}}, {{advert.location.state}}");
		{% endfor %}
	}
	window.onload = putMarkers;
	{% endif %}
</script>

<script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA3SpcBhMGT9yd8XOB1Mj1g9Y04kVq-U_k&callback=initMap'></script>
{% endblock %}

{% block flashes %}
	{% for message in app.flashes('asearch') %}
		{{ message|trans({}, 'flashes') }}<br />
	{% endfor %}
{% endblock %}

{% block content %}
	<fieldset>
		<legend><h2>Search a car :</h2></legend>
		<p><strong>Advise</strong> : Leave blank if you don't care<br />
		Begining and end rental dates are <strong>required</strong></p>
		{{ form(form) }}
	</fieldset>

	<div id='results'>
	<div id='results_adverts'>
	<fieldset>
		<h2>{{ 'adverts.result_plurals'|transchoice(count, [], 'searchAdvert') }}

		{% include 'en/adverts/adverts.html.twig' with{'adverts': listAdverts } %}	
	</fieldset>
	</div>

	<div id = 'map_canva'>
		<h6>Loading map...</h6>
	</div>

	</div>
{% endblock %}
