<!DOCTYPE html>
<html lang = fr>
	<head>
		<meta charset='utf-8' />
		<title>
			{% block title %}
			CarExchange
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="/css/layer.css" type="text/css" />
		{% endblock %}
	</head>

	<body>
		{% block scripts %}
		{% endblock %}
		<header id='main_header'>
			<h1>Car Exchange</h1>

			<nav class='main_links'>
				<a href='#'>Infos</a>
				<a href='#'>Contacts</a>
				<a href='{{ path('app_security.login') }}'>Connexion</a>
				<a href='{{ path('app_users.signup') }}'>S'enregistrer</a>
				<a href='{{ path('app_adverts.add') }}'>Louez votre voiture</a>
				<a href='{{ path('app_adverts.search') }}'>Cherchez une voiture</a>
			</nav>

			<nav class='meta_links'>
				{% block links %}{% endblock %}
			</nav>

			<form action = '{{ path('app_language') }}' method = 'post' id='language'>
				<select	name='language'>
					<option value = 'en'>English</option>
					<option value = 'fr'>Français</option>
				</select>

				<input name = 'url' type = 'hidden' value = '{{ app.request.uri }}' />

				<input type = 'submit' value = 'Envoyer' />
			</form>

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<p>Connecté en tant que : <strong>
				<a href='{{ path('app_users.home') }}'>{{ app.user.username }}</a>
				</strong>
				<a href='{{ path('app_security.logout') }}'>Deconnexion</a></p>
			{% endif %}
		</header>

		<div class='content'>
			{% block flashes %}
			{% endblock %}
			{% block content %}
			{% endblock %}
		</div>

		<footer id='main_footer'>
			{% block footer %}{% endblock %}
			<div id='generic_footing'>
				<p>Copyright blablabla. Touts droits réservés...</p>
				<a href='{{path('app_core.home') }}'>Accueil</a>
			</div>
		</footer>

	</body>
</html>
