{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/css/car.css" />
{% endblock %}

<article class = 'car_description'>
	<div class = 'car_specs'>
		<p>Marque : <strong>{{ car.brand }}</strong><br />
		Modèle : <strong>{{ car.model }}</strong></p>
		<p>Nombre de sièges : {{ car.sits }}<br />
		Carburant : {{ car.fuel }}</p>
	</div>
	<p>Description :<br />
	{{ car.description }}</p>
</article>
