{% extends "en/layout.html.twig" %}

{% block title %}
	{{ parent() }} - Sign In
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel = 'stylesheet' type = 'text/css' href = '/css/login.css' />
{% endblock %}

{% block scripts %}
	<!-- Facebook Javascript SDK -->
	<script src = '/js/initFacebook.js'></script>
	<script src = '/js/fb_module/fb_module_core.js'></script>
	<script src = '/js/fb_module/fb_module_login.js'></script>
{% endblock %}

{% block content %}

{% block flashes %}
	{% for message in app.flashes('usignin') %}
		<p class = 'flash_message'>{{ message|trans({}, 'flashes') }}</p>
	{% endfor %}
{% endblock %}

{% if error %}
	<p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
{% endif %}

<div class = 'login_dialogue'>
	<fieldset class = 'form_login'>
		<legend><h2>Sign In :</h2></legend>
		<form action='{{ path('app_security.login') }}' method='post'>
			<label for='username'>Pseudo :</label>
			<input type='text' id='username' name='_username' value='{{ last_username }}' />
			<br />
			<label for='password'>Password :</label>
			<input type='password' id='password' name='_password' />

			{# csrf protection #}
			<input type='hidden' name='_csrf_token' value = '{{ csrf_token('authenticate') }}' />
			<br />
			<button type='submit'>Sign In</button>
		</form>
		<p>Don't have an account yet ? <a href='{{ path('app_users.signup') }}'>Sign Up</a> !</p>
	</fieldset>

	<fieldset class = 'apps_login'>
		<legend><h2>Or :</h2></legend>
		<button id = 'facebook_login'>Login with Facebook</button>
	</fieldset>
</div>

{% endblock %}
